h1{
	text-align: center;
	color: rgb(200,50,20);
}
table{
	width: 70%;
	height: auto;
	margin-left: 15%;
	margin-top:70px;
	font-size: 22px;
}
table,th,td{
	border: 1px solid rgb(0,0,0);
	border-collapse: collapse;
	padding: 15px;
}
th{
	background: rgb(20,220,20);
}
td{
	text-align: center;
	align-items: center;
}
input[name="delete"]{
	height: 35px;
	width: 100px;
	border: none;
	border-radius: 5px;
	background-color: rgb(219,8,8,0.6);
	color:rgb(229,229,229);
	font-size: 20px;
}
input[name="edit"]{
	height: 35px;
	width: 100px;
	border: none;
	border-radius: 5px;
	background-color: rgb(234,118,8,0.6);
	color: rgb(229,229,229);
	font-size: 20px;
}
input[name="addStudent"]{
	margin-top:20px;
	margin-left: 30px;
	border: none;
	border-radius: 5px;
	background-color: rgb(90,11,219,0.6);
	font-size: 25px;
	padding: 10px 30px;
}
input[name='delete']:hover{
	background-color: rgb(219,8,8);
}
input[name="edit"]:hover{
	background-color: rgb(234,118,8);
}
input[name="addStudent"]:hover{
	background-color: rgb(90,11,219);
}
form{
	margin-top: 70px;
	margin-left: 15%;
	font-size: 20px;
}
input[type="text"]{
	margin: 10px 0px;
	height: 25px;
	width: 50%;
	margin-left: 30px;
	font-size: 20px;
}
label{
	font-size: 25px;
}